.animeItem {
    /* width: calc(20% - 60px); */
    width: 250px;
    box-shadow: 4px 4px 6px skyblue;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.animeLink {
    display: flex;
    flex-direction: column;
    height: 450px;
    font-size: 14px;
    padding: 10px;
}

.animeItem:hover {
    scale: 1.05;
}

.vote {
    margin: 0;
    padding: 0;
}

.title {
    flex-grow: 1;
}

.title, .vote {
    color: black;
}

.img {
    height: 275px;
    border-radius: 15px;
}