.contactWrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../../assets/images/kawaibg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    height: calc(100vh - 269px);
    padding-top: 20px;
}

.contactTitle {
    margin-top: 0;
    color: white;
    text-shadow: 4px 4px black;
}

.linksWrapper {
    display: inline-block;
    padding-left: 225px;
}

.contactItem {
    min-width: 100px;
}

.contactItem :hover {
    scale: 1.1;
} 

.linksWrapper :not(:last-child) {
    margin-bottom: 15px;
}

.titleWrapper { 
    display: flex;
    justify-content: center;
}

.linkIcons {
    color: white;
    text-shadow: 4px 4px black;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}