.header {
    background-position: center;
    background-image: url('../../assets/images/headerBanner.jpg');
    display: flex;
    justify-content: center;
    gap: 130px;
    width: 100%;
    height: 120px;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logo {
    width: 150px;
    height: 140px;
}